In [1]:
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn import metrics

In [2]:
data = pd.read_csv('C:\\Users\\user\\AML_carownership\\hh_final_agg.csv')

In [3]:
pd.set_option('max_columns', None)

In [4]:
data.head(5).append(data.tail(5))

,Unnamed: 0,HOUSEID,HOMEOWN,HHFAMINC,WALK,BIKE,TAXI,BUS,TRAIN,PRICE,PLACE,WALK2SAVE,BIKE2SAVE,PTRANS,HHRELATD,CNTTDHH,NUMADLT,YOUNGCHILD,WRKCOUNT,LIF_CYC,RAIL,URBAN,URBANSIZE,CDIVMSAR,WEBUSE17,DRVRCNTPROP,WRKCOUNT_ratio,NUMADLT_ratio,YOUNGCHILD_ratio,HHSIZE_cleaned,VEHOWN,AVG_AGE,HIGH_EDUC,FT_ratio,AVG_WORK_DIST,AVG_TIME,HEALTH,avg_trips,avg_trips_binned,one_job,flexible_work
0,0,30000012,HOME_OWN,10.0,2.0,Never,5,4,4,2.0,1.0,2.0,3.0,5.0,2,9,1.000000,0.0,1.000000,1,2,1,3,23,Daily,1.000000,1,1,0,1,1,40 - 50,5.0,1,5-10 miles,20 - 30,2.0,9.000000,>5,1,1
1,1,30000082,HOME_RENT,8.0,NaN,Never,5,5,5,3.0,3.0,5.0,5.0,5.0,1,12,0.500000,0.5,0.500000,4,2,1,3,23,Daily,0.500000,>0.5,>0.5,>0.5,>2,1,30 - 40,5.0,0.5,>15 miles,20 - 30,2.0,6.000000,>5,0.5,<0.5
2,2,30000130,HOME_OWN,5.0,NaN,NaN,-9,1,1,1.0,1.0,1.0,NaN,1.0,1,4,1.000000,0.0,1.000000,2,1,1,5,21,Daily,1.000000,1,1,0,2,1,40 - 50,5.0,1,>15 miles,>30,3.0,2.000000,<=2,1,0.5
3,3,30000380,HOME_RENT,3.0,NaN,NaN,4,4,-9,1.0,NaN,NaN,NaN,NaN,1,18,0.666667,0.0,0.333333,6,2,1,1,23,Daily,0.666667,<0.5,>0.5,0,>2,1,30 - 40,3.0,<0.5,<=5 miles,<=10,4.0,6.000000,>5,<0.5,<0.5
4,4,30000434,HOME_OWN,8.0,1.0,Rarely,5,5,4,NaN,2.0,2.0,3.0,3.0,1,6,1.000000,0.0,1.000000,2,2,4,6,23,Daily,1.000000,1,1,0,2,1,>60,5.0,0.5,>15 miles,20 - 30,2.0,3.000000,2 - 3,1,0.5
17173,17173,40793685,HOME_OWN,5.0,NaN,NaN,-9,-9,-9,4.0,4.0,4.0,4.0,4.0,1,5,1.000000,0.0,0.000000,10,2,1,1,23,Daily,1.000000,0,1,0,2,1,>60,3.0,non-work,Not Sure,non-work,3.0,2.500000,2 - 3,non-work,non-work
17174,17174,40793808,HOME_OWN,7.0,1.0,Rarely,5,4,5,3.0,3.0,3.0,3.0,3.0,1,16,0.666667,0.0,0.666667,8,2,1,1,23,Daily,0.666667,>0.5,>0.5,0,>2,1,40 - 50,4.0,<0.5,<=5 miles,<=10,2.0,5.333333,>5,>0.5,<0.5
17175,17175,40793974,HOME_RENT,3.0,2.0,Never,5,5,5,1.0,2.0,3.0,3.0,3.0,2,7,1.000000,0.0,0.000000,9,2,1,1,23,Daily,1.000000,0,1,0,1,1,>60,2.0,non-work,Not Sure,non-work,2.0,7.000000,>5,non-work,non-work
17176,17176,40794020,HOME_OWN,8.0,4.0,Never,5,4,5,2.0,2.0,5.0,5.0,5.0,1,11,1.000000,0.0,0.000000,10,2,4,6,24,Daily,1.000000,0,1,0,2,1,>60,3.0,non-work,Not Sure,non-work,3.0,5.500000,>5,non-work,non-work
17177,17177,40794249,HOME_RENT,2.0,4.0,Never,5,5,5,3.0,3.0,3.0,5.0,5.0,2,2,1.000000,0.0,0.000000,9,2,2,6,23,Never,1.000000,0,1,0,1,0,>60,2.0,non-work,Not Sure,non-work,3.0,2.000000,<=2,non-work,non-work

In [5]:
data['TRAIN'].value_counts()

 5    9859
 4    4002
-9    1599
 1     668
 3     597
 2     451
-7       2
Name: TRAIN, dtype: int64

In [6]:
#replace -7, -8, -9 in TAXI, BUS, TRAIN to NA
data['TRAIN']= data['TRAIN'].replace([-7, -8, -9], np.nan)#'NaN')
data['TAXI'] = data['TAXI'].replace([-7, -8, -9], np.nan)#'NaN')
data['BUS'] = data['BUS'].replace([-7, -8, -9], np.nan)#'NaN')

In [7]:
data['TAXI'].value_counts()

5.0    10444
4.0     3804
3.0      870
2.0      297
1.0       60
Name: TAXI, dtype: int64

In [8]:
data.shape

(17178, 41)

In [9]:
#data = data.loc[data['TRAIN'] != 'NaN']
#data.shape

In [10]:
#data = data.loc[data['TAXI'] != 'NaN']
#data.shape

In [11]:
#data = data.loc[data['BUS'] != 'NaN']
#data.shape

In [12]:
#data.loc[data['BUS']==-9]

In [13]:
#data.where(data == -9).sum()

In [14]:
data_= data.dropna(how='any')

In [15]:
data.shape, data_.shape

((17178, 41), (13892, 41))

In [16]:
data_['TAXI'].value_counts()

5.0    9467
4.0    3426
3.0     724
2.0     237
1.0      38
Name: TAXI, dtype: int64

In [17]:
data_['BUS'].value_counts()

5.0    10059
4.0     2449
3.0      545
2.0      455
1.0      384
Name: BUS, dtype: int64

In [18]:
data_.isna().values.sum()

0

In [19]:
col = ['BUS', 'TAXI', 'TAXI']
data_[col]

       BUS  TAXI  TAXI
0      4.0   5.0   5.0
5      5.0   4.0   4.0
6      5.0   5.0   5.0
7      5.0   5.0   5.0
8      5.0   5.0   5.0
9      5.0   5.0   5.0
11     4.0   3.0   3.0
12     5.0   5.0   5.0
13     5.0   5.0   5.0
14     1.0   4.0   4.0
17     1.0   4.0   4.0
18     5.0   5.0   5.0
19     5.0   5.0   5.0
20     5.0   5.0   5.0
21     5.0   5.0   5.0
22     2.0   2.0   2.0
23     5.0   5.0   5.0
24     5.0   5.0   5.0
25     5.0   5.0   5.0
26     5.0   4.0   4.0
28     5.0   5.0   5.0
29     5.0   5.0   5.0
30     2.0   5.0   5.0
32     5.0   5.0   5.0
33     5.0   5.0   5.0
34     5.0   5.0   5.0
35     5.0   5.0   5.0
36     4.0   5.0   5.0
37     5.0   5.0   5.0
39     5.0   5.0   5.0
...    ...   ...   ...
17137  4.0   5.0   5.0
17140  4.0   3.0   3.0
17141  3.0   4.0   4.0
17145  5.0   4.0   4.0
17146  5.0   5.0   5.0
17147  5.0   5.0   5.0
17148  5.0   5.0   5.0
17149  5.0   5.0   5.0
17151  5.0   5.0   5.0
17152  5.0   5.0   5.0
17153  5.0   5.0   5.0
17154  4.0   4.0   4.0
17156  5.0   5.0   5.0
17157  3.0   5.0   5.0
17158  4.0   4.0   4.0
17159  5.0   5.0   5.0
17161  4.0   5.0   5.0
17162  4.0   3.0   3.0
17163  5.0   5.0   5.0
17166  2.0   4.0   4.0
17167  5.0   5.0   5.0
17168  5.0   4.0   4.0
17169  2.0   5.0   5.0
17170  5.0   5.0   5.0
17171  4.0   5.0   5.0
17172  5.0   5.0   5.0
17174  4.0   5.0   5.0
17175  5.0   5.0   5.0
17176  4.0   5.0   5.0
17177  5.0   5.0   5.0

[13892 rows x 3 columns]

In [20]:
full_list=data_.columns.tolist()
full_list

['Unnamed: 0',
 'HOUSEID',
 'HOMEOWN',
 'HHFAMINC',
 'WALK',
 'BIKE',
 'TAXI',
 'BUS',
 'TRAIN',
 'PRICE',
 'PLACE',
 'WALK2SAVE',
 'BIKE2SAVE',
 'PTRANS',
 'HHRELATD',
 'CNTTDHH',
 'NUMADLT',
 'YOUNGCHILD',
 'WRKCOUNT',
 'LIF_CYC',
 'RAIL',
 'URBAN',
 'URBANSIZE',
 'CDIVMSAR',
 'WEBUSE17',
 'DRVRCNTPROP',
 'WRKCOUNT_ratio',
 'NUMADLT_ratio',
 'YOUNGCHILD_ratio',
 'HHSIZE_cleaned',
 'VEHOWN',
 'AVG_AGE',
 'HIGH_EDUC',
 'FT_ratio',
 'AVG_WORK_DIST',
 'AVG_TIME',
 'HEALTH',
 'avg_trips',
 'avg_trips_binned',
 'one_job',
 'flexible_work']

In [21]:
cols = ['Unnamed: 0', 'VEHOWN']
full_list.remove('Unnamed: 0')
full_list.remove('VEHOWN')

In [22]:
y = data_['VEHOWN']

In [23]:
data_['WEBUSE17'].value_counts()

Daily     12218
Rarely      928
Never       746
Name: WEBUSE17, dtype: int64

In [24]:
X=data_.loc[:,full_list]

In [25]:
selected_column =  ['HOMEOWN', 'HHFAMINC', 'PRICE', 'BIKE', 'WEBUSE17', 'WRKCOUNT_ratio', 'NUMADLT_ratio', \
                    'YOUNGCHILD_ratio', 'HHSIZE_cleaned', 'AVG_AGE', 'FT_ratio', 'AVG_WORK_DIST', 'AVG_TIME', \
                   'one_job', 'flexible_work']

In [26]:
data_[selected_column].head(5)

,HOMEOWN,HHFAMINC,PRICE,BIKE,WEBUSE17,WRKCOUNT_ratio,NUMADLT_ratio,YOUNGCHILD_ratio,HHSIZE_cleaned,AVG_AGE,FT_ratio,AVG_WORK_DIST,AVG_TIME,one_job,flexible_work
0,HOME_OWN,10.0,2.0,Never,Daily,1,1,0,1,40 - 50,1,5-10 miles,20 - 30,1,1
5,HOME_OWN,9.0,3.0,Never,Daily,>0.5,1,0,2,>60,0.5,<=5 miles,<=10,0.5,0
6,HOME_OWN,8.0,1.0,Daily,Daily,>0.5,1,0,>2,30 - 40,<0.5,10 - 15 miles,20 - 30,0.5,<0.5
7,HOME_RENT,3.0,1.0,Never,Daily,1,1,0,1,>60,0,<=5 miles,<=10,1,0
8,HOME_OWN,8.0,4.0,Never,Rarely,>0.5,1,0,2,>60,0.5,Not Sure,non-work,0.5,0

In [27]:
y.head(5)

0    1
5    1
6    1
7    1
8    1
Name: VEHOWN, dtype: int64

In [28]:
data_['HOMEOWN'] = data_['HOMEOWN'].astype('category')
data_['BIKE'] = data_['BIKE'].astype('category')
data_['WEBUSE17'] =data_['WEBUSE17'].astype('category')
data_['WRKCOUNT_ratio'] =data_['WRKCOUNT_ratio'].astype('category')
data_['NUMADLT_ratio'] =data_['NUMADLT_ratio'].astype('category')
data_['YOUNGCHILD_ratio'] =data_['YOUNGCHILD_ratio'].astype('category')
data_['HHSIZE_cleaned'] =data_['HHSIZE_cleaned'].astype('category')
data_['AVG_AGE'] =data_['AVG_AGE'].astype('category')
data_['FT_ratio'] =data_['FT_ratio'].astype('category')
data_['AVG_WORK_DIST'] =data_['AVG_WORK_DIST'].astype('category')
data_['AVG_TIME'] =data_['AVG_TIME'].astype('category')
data_['one_job'] =data_['one_job'].astype('category')
data_['flexible_work'] =data_['flexible_work'].astype('category')

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [29]:
# Assigning numerical values and storing in another column
data_['HOMEOWN_CAT'] = data_['HOMEOWN'].cat.codes
data_['BIKE_CAT'] = data_['BIKE'].cat.codes
data_['WEBUSE17_CAT'] = data_['WEBUSE17'].cat.codes
data_['WRKCOUNT_ratio_CAT'] =data_['WRKCOUNT_ratio'].cat.codes
data_['NUMADLT_ratio_CAT'] =data_['NUMADLT_ratio'].cat.codes
data_['YOUNGCHILD_ratio_CAT'] =data_['YOUNGCHILD_ratio'].cat.codes
data_['HHSIZE_cleaned_CAT'] =data_['HHSIZE_cleaned'].cat.codes
data_['AVG_AGE_CAT'] =data_['AVG_AGE'].cat.codes
data_['FT_ratio_CAT'] =data_['FT_ratio'].cat.codes
data_['AVG_WORK_DIST_CAT'] =data_['AVG_WORK_DIST'].cat.codes
data_['AVG_TIME_CAT'] =data_['AVG_TIME'].cat.codes
data_['one_job_CAT'] =data_['one_job'].cat.codes
data_['flexible_work_CAT'] =data_['flexible_work'].cat.codes
data_.head(5)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Unnamed: 0,HOUSEID,HOMEOWN,HHFAMINC,WALK,BIKE,TAXI,BUS,TRAIN,PRICE,PLACE,WALK2SAVE,BIKE2SAVE,PTRANS,HHRELATD,CNTTDHH,NUMADLT,YOUNGCHILD,WRKCOUNT,LIF_CYC,RAIL,URBAN,URBANSIZE,CDIVMSAR,WEBUSE17,DRVRCNTPROP,WRKCOUNT_ratio,NUMADLT_ratio,YOUNGCHILD_ratio,HHSIZE_cleaned,VEHOWN,AVG_AGE,HIGH_EDUC,FT_ratio,AVG_WORK_DIST,AVG_TIME,HEALTH,avg_trips,avg_trips_binned,one_job,flexible_work,HOMEOWN_CAT,BIKE_CAT,WEBUSE17_CAT,WRKCOUNT_ratio_CAT,NUMADLT_ratio_CAT,YOUNGCHILD_ratio_CAT,HHSIZE_cleaned_CAT,AVG_AGE_CAT,FT_ratio_CAT,AVG_WORK_DIST_CAT,AVG_TIME_CAT,one_job_CAT,flexible_work_CAT
0,0,30000012,HOME_OWN,10.0,2.0,Never,5.0,4.0,4.0,2.0,1.0,2.0,3.0,5.0,2,9,1.0,0.0,1.0,1,2,1,3,23,Daily,1.0,1,1,0,1,1,40 - 50,5.0,1,5-10 miles,20 - 30,2.0,9.0,>5,1,1,0,1,0,1,0,0,0,1,2,1,1,2,2
5,5,30000436,HOME_OWN,9.0,5.0,Never,4.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,1,3,1.0,0.0,0.5,10,2,1,1,23,Daily,0.5,>0.5,1,0,2,1,>60,4.0,0.5,<=5 miles,<=10,4.0,1.5,<=2,0.5,0,0,1,0,3,0,0,1,4,1,2,2,1,0
6,6,30000439,HOME_OWN,8.0,1.0,Daily,5.0,5.0,4.0,1.0,1.0,2.0,2.0,3.0,1,6,1.0,0.0,0.5,8,1,4,6,21,Daily,1.0,>0.5,1,0,>2,1,30 - 40,5.0,<0.5,10 - 15 miles,20 - 30,4.0,1.5,<=2,0.5,<0.5,0,0,0,3,0,0,2,0,3,0,1,1,3
7,7,30000473,HOME_RENT,3.0,5.0,Never,5.0,5.0,5.0,1.0,3.0,5.0,5.0,5.0,2,8,1.0,0.0,1.0,9,2,1,1,23,Daily,1.0,1,1,0,1,1,>60,3.0,0,<=5 miles,<=10,4.0,8.0,>5,1,0,1,1,0,1,0,0,0,4,0,2,2,2,0
8,8,30000496,HOME_OWN,8.0,4.0,Never,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,1,6,1.0,0.0,0.5,10,1,1,5,21,Rarely,0.5,>0.5,1,0,2,1,>60,5.0,0.5,Not Sure,non-work,4.0,3.0,2 - 3,0.5,0,0,1,2,3,0,0,1,4,1,4,4,1,0

In [30]:
data_.columns.tolist()

['Unnamed: 0',
 'HOUSEID',
 'HOMEOWN',
 'HHFAMINC',
 'WALK',
 'BIKE',
 'TAXI',
 'BUS',
 'TRAIN',
 'PRICE',
 'PLACE',
 'WALK2SAVE',
 'BIKE2SAVE',
 'PTRANS',
 'HHRELATD',
 'CNTTDHH',
 'NUMADLT',
 'YOUNGCHILD',
 'WRKCOUNT',
 'LIF_CYC',
 'RAIL',
 'URBAN',
 'URBANSIZE',
 'CDIVMSAR',
 'WEBUSE17',
 'DRVRCNTPROP',
 'WRKCOUNT_ratio',
 'NUMADLT_ratio',
 'YOUNGCHILD_ratio',
 'HHSIZE_cleaned',
 'VEHOWN',
 'AVG_AGE',
 'HIGH_EDUC',
 'FT_ratio',
 'AVG_WORK_DIST',
 'AVG_TIME',
 'HEALTH',
 'avg_trips',
 'avg_trips_binned',
 'one_job',
 'flexible_work',
 'HOMEOWN_CAT',
 'BIKE_CAT',
 'WEBUSE17_CAT',
 'WRKCOUNT_ratio_CAT',
 'NUMADLT_ratio_CAT',
 'YOUNGCHILD_ratio_CAT',
 'HHSIZE_cleaned_CAT',
 'AVG_AGE_CAT',
 'FT_ratio_CAT',
 'AVG_WORK_DIST_CAT',
 'AVG_TIME_CAT',
 'one_job_CAT',
 'flexible_work_CAT']

In [31]:
#'TAXI', 'BUS', 'TRAIN', 
selected_column1 =  ['HHFAMINC', 'WALK', 'TAXI', 'BUS', 'TRAIN', 'PRICE', 'PLACE', 'WALK2SAVE', \
                     'BIKE2SAVE', 'PTRANS', 'HHRELATD', 'CNTTDHH', 'NUMADLT', 'YOUNGCHILD', 'WRKCOUNT', 'LIF_CYC', \
                     'RAIL', 'URBAN','URBANSIZE','CDIVMSAR', 'DRVRCNTPROP', 'HIGH_EDUC', 'HEALTH', 'avg_trips', \
                     'HOMEOWN_CAT', 'BIKE_CAT', 'WEBUSE17_CAT', 'WRKCOUNT_ratio_CAT', 'NUMADLT_ratio_CAT', \
                     'YOUNGCHILD_ratio_CAT', 'HHSIZE_cleaned_CAT',\
                     'AVG_AGE_CAT', 'FT_ratio_CAT', 'AVG_WORK_DIST_CAT', 'AVG_TIME_CAT', 'one_job_CAT', 'flexible_work_CAT']

In [32]:
#high_score_features1 = []
#feature_scores = mutual_info_classif(X, y, random_state=0, n_neighbors=3,discrete_features=discrete_feat_idx)
#for score, f_name in sorted(zip(feature_scores, X.columns), reverse=True)[:threshold]:
#        print(f_name, score)
#        high_score_features1.append(f_name)

#feature_scores

In [33]:
#numeric variables: CNTTDHH, NUMADLT, YOUNGCHILD, WRKCOUNT, DRVRCNTPROP, avg_trips
X=data_.loc[:,selected_column1]
X.head(5).append(X.tail(5))

,HHFAMINC,WALK,TAXI,BUS,TRAIN,PRICE,PLACE,WALK2SAVE,BIKE2SAVE,PTRANS,HHRELATD,CNTTDHH,NUMADLT,YOUNGCHILD,WRKCOUNT,LIF_CYC,RAIL,URBAN,URBANSIZE,CDIVMSAR,DRVRCNTPROP,HIGH_EDUC,HEALTH,avg_trips,HOMEOWN_CAT,BIKE_CAT,WEBUSE17_CAT,WRKCOUNT_ratio_CAT,NUMADLT_ratio_CAT,YOUNGCHILD_ratio_CAT,HHSIZE_cleaned_CAT,AVG_AGE_CAT,FT_ratio_CAT,AVG_WORK_DIST_CAT,AVG_TIME_CAT,one_job_CAT,flexible_work_CAT
0,10.0,2.0,5.0,4.0,4.0,2.0,1.0,2.0,3.0,5.0,2,9,1.000000,0.0,1.000000,1,2,1,3,23,1.000000,5.0,2.0,9.000000,0,1,0,1,0,0,0,1,2,1,1,2,2
5,9.0,5.0,4.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,1,3,1.000000,0.0,0.500000,10,2,1,1,23,0.500000,4.0,4.0,1.500000,0,1,0,3,0,0,1,4,1,2,2,1,0
6,8.0,1.0,5.0,5.0,4.0,1.0,1.0,2.0,2.0,3.0,1,6,1.000000,0.0,0.500000,8,1,4,6,21,1.000000,5.0,4.0,1.500000,0,0,0,3,0,0,2,0,3,0,1,1,3
7,3.0,5.0,5.0,5.0,5.0,1.0,3.0,5.0,5.0,5.0,2,8,1.000000,0.0,1.000000,9,2,1,1,23,1.000000,3.0,4.0,8.000000,1,1,0,1,0,0,0,4,0,2,2,2,0
8,8.0,4.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,1,6,1.000000,0.0,0.500000,10,1,1,5,21,0.500000,5.0,4.0,3.000000,0,1,2,3,0,0,1,4,1,4,4,1,0
17172,8.0,3.0,5.0,5.0,5.0,4.0,2.0,3.0,5.0,5.0,1,8,0.500000,0.0,0.500000,6,2,1,3,23,0.500000,5.0,2.0,2.000000,0,1,0,3,2,0,2,3,3,2,2,1,3
17174,7.0,1.0,5.0,4.0,5.0,3.0,3.0,3.0,3.0,3.0,1,16,0.666667,0.0,0.666667,8,2,1,1,23,0.666667,4.0,2.0,5.333333,0,2,0,3,2,0,2,1,3,2,2,4,3
17175,3.0,2.0,5.0,5.0,5.0,1.0,2.0,3.0,3.0,3.0,2,7,1.000000,0.0,0.000000,9,2,1,1,23,1.000000,2.0,2.0,7.000000,1,1,0,0,0,0,0,4,5,4,4,5,4
17176,8.0,4.0,5.0,4.0,5.0,2.0,2.0,5.0,5.0,5.0,1,11,1.000000,0.0,0.000000,10,2,4,6,24,1.000000,3.0,3.0,5.500000,0,1,0,0,0,0,1,4,5,4,4,5,4
17177,2.0,4.0,5.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,2,2,1.000000,0.0,0.000000,9,2,2,6,23,1.000000,2.0,3.0,2.000000,1,1,1,0,0,0,0,4,5,4,4,5,4

In [34]:
list1=X.columns.tolist()
list1.remove('CNTTDHH')
list1.remove('NUMADLT')
list1.remove('YOUNGCHILD')
list1.remove('WRKCOUNT')
list1.remove('DRVRCNTPROP')
list1.remove('avg_trips')

In [35]:
#index_no = X.columns.get_loc(list1)
a = [X.columns.get_loc(col) for col in list1]

In [36]:
print(*a, sep = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36

In [37]:
X.shape, y.shape

((13892, 37), (13892,))

In [38]:
y.dropna(how='any', inplace=True)

In [39]:
X=data_.loc[:,selected_column1]

In [40]:
X.head(5).append(X.tail(5))

,HHFAMINC,WALK,TAXI,BUS,TRAIN,PRICE,PLACE,WALK2SAVE,BIKE2SAVE,PTRANS,HHRELATD,CNTTDHH,NUMADLT,YOUNGCHILD,WRKCOUNT,LIF_CYC,RAIL,URBAN,URBANSIZE,CDIVMSAR,DRVRCNTPROP,HIGH_EDUC,HEALTH,avg_trips,HOMEOWN_CAT,BIKE_CAT,WEBUSE17_CAT,WRKCOUNT_ratio_CAT,NUMADLT_ratio_CAT,YOUNGCHILD_ratio_CAT,HHSIZE_cleaned_CAT,AVG_AGE_CAT,FT_ratio_CAT,AVG_WORK_DIST_CAT,AVG_TIME_CAT,one_job_CAT,flexible_work_CAT
0,10.0,2.0,5.0,4.0,4.0,2.0,1.0,2.0,3.0,5.0,2,9,1.000000,0.0,1.000000,1,2,1,3,23,1.000000,5.0,2.0,9.000000,0,1,0,1,0,0,0,1,2,1,1,2,2
5,9.0,5.0,4.0,5.0,5.0,3.0,3.0,5.0,5.0,5.0,1,3,1.000000,0.0,0.500000,10,2,1,1,23,0.500000,4.0,4.0,1.500000,0,1,0,3,0,0,1,4,1,2,2,1,0
6,8.0,1.0,5.0,5.0,4.0,1.0,1.0,2.0,2.0,3.0,1,6,1.000000,0.0,0.500000,8,1,4,6,21,1.000000,5.0,4.0,1.500000,0,0,0,3,0,0,2,0,3,0,1,1,3
7,3.0,5.0,5.0,5.0,5.0,1.0,3.0,5.0,5.0,5.0,2,8,1.000000,0.0,1.000000,9,2,1,1,23,1.000000,3.0,4.0,8.000000,1,1,0,1,0,0,0,4,0,2,2,2,0
8,8.0,4.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,1,6,1.000000,0.0,0.500000,10,1,1,5,21,0.500000,5.0,4.0,3.000000,0,1,2,3,0,0,1,4,1,4,4,1,0
17172,8.0,3.0,5.0,5.0,5.0,4.0,2.0,3.0,5.0,5.0,1,8,0.500000,0.0,0.500000,6,2,1,3,23,0.500000,5.0,2.0,2.000000,0,1,0,3,2,0,2,3,3,2,2,1,3
17174,7.0,1.0,5.0,4.0,5.0,3.0,3.0,3.0,3.0,3.0,1,16,0.666667,0.0,0.666667,8,2,1,1,23,0.666667,4.0,2.0,5.333333,0,2,0,3,2,0,2,1,3,2,2,4,3
17175,3.0,2.0,5.0,5.0,5.0,1.0,2.0,3.0,3.0,3.0,2,7,1.000000,0.0,0.000000,9,2,1,1,23,1.000000,2.0,2.0,7.000000,1,1,0,0,0,0,0,4,5,4,4,5,4
17176,8.0,4.0,5.0,4.0,5.0,2.0,2.0,5.0,5.0,5.0,1,11,1.000000,0.0,0.000000,10,2,4,6,24,1.000000,3.0,3.0,5.500000,0,1,0,0,0,0,1,4,5,4,4,5,4
17177,2.0,4.0,5.0,5.0,5.0,3.0,3.0,3.0,5.0,5.0,2,2,1.000000,0.0,0.000000,9,2,2,6,23,1.000000,2.0,3.0,2.000000,1,1,1,0,0,0,0,4,5,4,4,5,4

In [41]:
#selected_column2= ['HHFAMINC','WALK','TAXI','BUS','TRAIN','CNTTDHH']

In [42]:
#col = ['TAXI', 'TRAIN', 'BUS']
#X[col].dropna(how='any',inplace=True)
#X['TAXI'].value_counts()

In [43]:
#X['BUS'].value_counts()

In [44]:
from functools import partial
from sklearn.feature_selection import mutual_info_classif, SelectKBest
#X=data_.loc[:,selected_column1]
discrete_feat_idx = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
#[0, 1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]
score_func = partial(mutual_info_classif, discrete_features=discrete_feat_idx)
s = SelectKBest(score_func=score_func, k='all')

In [45]:
fit = s.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

In [46]:
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Selected_Columns','Score'] 
print(featureScores.nlargest(40,'Score'))  #print 10 best features

        Selected_Columns     Score
20           DRVRCNTPROP  0.133107
3                    BUS  0.073306
24           HOMEOWN_CAT  0.064241
2                   TAXI  0.057704
9                 PTRANS  0.057204
0               HHFAMINC  0.046978
7              WALK2SAVE  0.039340
1                   WALK  0.039292
4                  TRAIN  0.033921
15               LIF_CYC  0.027486
10              HHRELATD  0.023519
30    HHSIZE_cleaned_CAT  0.021922
18             URBANSIZE  0.018956
33     AVG_WORK_DIST_CAT  0.016590
17                 URBAN  0.015809
21             HIGH_EDUC  0.015264
14              WRKCOUNT  0.013714
32          FT_ratio_CAT  0.012973
35           one_job_CAT  0.011392
8              BIKE2SAVE  0.011242
27    WRKCOUNT_ratio_CAT  0.011151
36     flexible_work_CAT  0.011056
34          AVG_TIME_CAT  0.009830
5                  PRICE  0.009486
11               CNTTDHH  0.008835
19              CDIVMSAR  0.008727
16                  RAIL  0.008549
26          WEBUSE17_CAT  0.007583
22                HEALTH  0.006679
23             avg_trips  0.004747
6                  PLACE  0.004353
12               NUMADLT  0.003624
25              BIKE_CAT  0.003393
28     NUMADLT_ratio_CAT  0.002400
31           AVG_AGE_CAT  0.001033
29  YOUNGCHILD_ratio_CAT  0.000581
13            YOUNGCHILD  0.000579