In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os

In [2]:
#change path to your local folder that has the data (to see how to set to sharepoint site)

#path = os.chdir('https://smu.sharepoint.com/:f:/r/teams/AML842/Shared%20Documents/General/NHTS%20(US%20National%20Household%20Travel%20Survey%202017)?csf=1&web=1&e=oOUGTJ/')
path = os.chdir('C:/Users/Seant/Desktop/aml_data/')

hh = pd.read_csv("./hhpub.csv")

In [4]:
hh.describe

<bound method NDFrame.describe of          HOUSEID  TRAVDAY  SAMPSTRAT  HOMEOWN  HHSIZE  HHVEHCNT  HHFAMINC  PC  \
0       30000007        2          3        1       3         5         7   2
1       30000008        5          2        1       2         4         8   1
2       30000012        5          3        1       1         2        10   1
3       30000019        5          3        1       2         2         3   1
4       30000029        3          3        1       2         2         5   2
...          ...      ...        ...      ...     ...       ...       ...  ..
129691  40794291        7          3        1       1         1         9   1
129692  40794293        2          4        1       2         3         6   1
129693  40794294        5          2        1       2         2        10   1
129694  40794301        2          3        1       7         5         6   1
129695  50515573        3          1        1       1         0        10   1

        SPHONE  TAB  ...  SMPLSRCE     WTHHFIN  HBHUR  HTHTNRNT  HTPPOPDN  \
0            1    2  ...         2  187.314320      T        50      1500
1            1    2  ...         2   69.513032      R         5       300
2            1    3  ...         2   79.419586      C        80     17000
3            5    5  ...         2  279.143588      S        40       300
4            5    1  ...         2  103.240304      S        40      1500
...        ...  ...  ...       ...         ...    ...       ...       ...
129691       5    5  ...         2   41.869638      S         5       750
129692       1    1  ...         2  166.016235      R        20        50
129693       1    5  ...         2  207.672765      U        70      7000
129694       5    1  ...         2  126.720282      R        20        50
129695       1    5  ...         1  544.676759      U        70     30000

        HTRESDN  HTEEMPDN  HBHTNRNT  HBPPOPDN  HBRESDN
0           750       750        20       750      300
1           300       150         5       300      300
2         17000      5000        60     17000     7000
3           300       150        50       750      300
4           750       750        40      1500      750
...         ...       ...       ...       ...      ...
129691      300       150        20       750      300
129692       50        25        20        50       50
129693     7000      5000        70     17000     7000
129694       50        25        20       300       50
129695    30000      5000        70     30000    17000

[129696 rows x 58 columns]>

In [10]:
# states with more than 10,000 households
hh['HHSTATE'].value_counts()[hh['HHSTATE'].value_counts()>10000]

CA    26099
TX    24441
NY    17178
WI    11650
Name: HHSTATE, dtype: int64

In [14]:
# Transform target variable to binary
hh['own_veh'] = np.where(hh['HHVEHCNT']>0, 1, 0)

In [26]:
top_cities = hh[hh['HHSTATE'].isin(['CA','TX','NY','WI'])]
top_cities['own_veh'].groupby(top_cities['HHSTATE']).agg(['count','sum'])

#NY has to lowest percentage of hh vehicle ownership 91%

         count    sum
HHSTATE
CA       26099  24929
NY       17178  15636
TX       24441  23617
WI       11650  11230